body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(alam.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 270px;
    box-shadow: 0 0 10px 5px white;
}

.login-box h1{
    font-family: sans-serif;
    color: whitesmoke;
    text-align: center;
}

.login-box .textbox{
    margin-bottom: 15px;
    border-bottom: 3px whitesmoke;
    padding: 5px 0;
}

.login-box input{
    padding: 0 7px;
    font-size: 15px;
}

.login-box input::placeholder{
    color: black;
}

.btn{
    border: 1px solid whitesmoke;
    background: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    color: rgba(0,0,0,0.8);
}